.app-article-item {
    border: 1px solid #ddd;
    padding: 20%;
    margin-bottom: 10px;
  }
  .app-article-item img {
    max-width: 5rem;
    height: auto;
  }
  
  .app-article-item.on-sale {
    background-color: rgb(231, 228, 62); 
    font-weight: bold;
  }

  .disponible {
    color: grey;
}